# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env/
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Flask files
instance/
*.log

# Ignore model and dataset files
*.pb
*.tflite
*.ckpt
*.data-00000-of-00001
*.index
checkpoint
saved_model/

# Ignore datasets and Excel files
*.xlsx
*.csv
*.tsv

# Ignore other IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
